.menu{
	text-align: center;
	position: relative;
	flex: auto;
}
.genBtn{
	flex: auto;
	padding: 1%;
	background-color: transparent;
	border-radius: 0.7em;
}
.genBtn:hover{
	background-color: aquamarine;
}
.pokecard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: transparent;
	padding: auto;
	padding-top: 5%;
}
.pokecard-individual{
	position: relative;
	padding-left: 5%;
	padding-top: 5%;
	border: 2px;
	border-color: black;
	border-style: solid;
	border-radius: 5%;
	width: 90%;
	block-size: auto;
}
.pokecard-individual img{
	justify-content: center;
}

.pokecard-individual:hover{
	background-color: lightblue;
}
@media (min-width: 500px) {
	.pokecard-individual{
		width: 40%;
	}
}
@media (min-width: 756px) {
	.pokecard-individual{
		width: 26%;
		
	}
}
.cabecera{
	text-align: center;
	margin: 0 auto;
	padding: auto;
	padding-top: 5%;
	padding-bottom: 2%;
}
.cabecera h1,h3{
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/* POPUP */
.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}
 
.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: palevioletred;
    transition: all 0.2s;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}

