.menu{
	text-align: center;
	position: relative;
	flex: auto;
}
.genBtn{
	flex: auto;
	padding: 1%;
	background-color: transparent;
	border-radius: 0.7em;
}
.genBtn:hover{
	background-color: aquamarine;
}
.pokecard{
	border: 2px;
	padding: 5%;
	border-radius: 2px;
	background-color: transparent;
}
.pokecard:hover{
	background-color: lightblue;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

